body {

    height: 408px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    


}

.main {

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header {

    position: fixed;
    width: 100%;
}

.image {

    width: 155px;
}

.image-box {

    padding: 10px 0;
}


.menu-items {

    text-align: center;
    display: flex;
}









/* CAJAS */

/* .header { */

    border: 5px solid red;
}


.main {

    border: 5px solid green;
}

.menu {

    border: 5px  solid yellow;
}